/*로그인 css*/
* {
  font-family: 'Nanum Gothic', sans-serif;
}


.mytitle {

    width: 300px;
    height: auto;


    text-align: center;

    background-color: #F4F4F4;
    background-size: cover;
    background-position: center;

    border-radius: 10px;

    margin-left:30px;
    padding: 10px 20px 10px 20px;


}

.title1 {
    font-weight: 900;
    color: #939597;
}

.title2 {

    font-weight: 900;
    color: #F8E00E;
}

.id_pw {

    margin-left: 30px;
    padding-top: 12px;
    height : 117px;
    width : 340px;

}

.id {
    padding: 6px 0px 6px 10px;
    border: solid 1px #dadada;
    height: 35px;
    width: 320px;
}

.id_area {
    padding: 0px 3px 7px 5px;
    height: 50px;
}

.pw {
  padding: 6px 0px 6px 10px;
  border: solid 1px #dadada;
  height: 35px;
  width: 320px;
}

.pw_area {
  padding: 0px 3px 7px 5px;
  height: 50px;
}

#btn-1 {

    background-color:  #F8E00E;
    width: 245px;
    height: 55px;
    color: #ffffff;
    font-weight: bold;
    font-size: 17px;
    border-radius: 10px;
    border-style: hidden;


}

#btn-2 {

    width: 75px;
    height: 55px;
    border-radius: 10px;
    border-style: hidden;
    margin-left: 10px;
}




.login_home{

  width:400px;
  height : 70px;
  justify-content: center;
  display: flex;
  padding: 0px 3px 10px 3px;

}

.loginform{

  width: 400px;


}

#grid {
  display:grid;
  grid-template-columns: auto 400px auto;
  margin-top: 200px;

}


@media(max-width:750px) {



  #grid {

    grid-template-columns: auto 600px auto;


  }

  .mytitle {

      width: 400px;
      height: auto;
      background-color: #F8E00E;
      margin-left:21px;
      }

  .title1 {
      font-weight: 900;
      color: white;
  }

  .title2 {
      font-weight: 900;
      color: white;
  }

  .id {
      padding: 6px 0px 6px 10px;
      border: solid 1px #dadada;
      height: 35px;
      width: 400px;
  }

  .pw {
    padding: 6px 0px 6px 10px;
    border: solid 1px #dadada;
    height: 35px;
    width: 400px;
  }

  .login_home{

    width:400px;
    margin-left: 38px;

  }

  #btn-1 {

      background-color: #F4F4F4;
      width: 300px;
      color: #939597;



  }
  #btn-2 {



  }


}
